.contributor-container{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
}
.contributorHeading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contributorHeading hr{
    height: 0.1rem;
    width: 90%;
    background-color: gray;
    border-radius: 0.1rem;
    margin: auto;
}
.contributorHeading h1 {
    font-family: 'Laila', sans-serif;
    color: cornflowerblue;
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 0.05rem;
}
.contributor-message{
    /* width: 80%; */
    color: aliceblue;
    font-size: 1.1rem;
    text-align: center;
    margin: 2rem auto;
}

@media (max-width: 480px){
    .contributor-container{
        margin-top: 4rem;
    }
    .contributor-container>h2{
        font-size: 2rem;
    }
    .contributor-message{
        width: 90%;
        font-size: 1.1rem;
    }
    .col-md-8 form h1{
        font-size: 2rem;
    }
    .col-md-8 form div input{
        font-size: 1rem;
    }
    .col-md-8 form div button{
        font-size: 1rem;
    }
}