.course-container {
    width: 90%;
    margin: 1rem auto;
}
.courseHeading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.courseHeading hr{
    height: 0.1rem;
    width: 90%;
    background-color: gray;
    border-radius: 0.1rem;
    margin: auto;
}
.courseHeading h1 {
    font-family: 'Laila', sans-serif;
    color: cornflowerblue;
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 0.05rem;
}

.course-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.courses-filter div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.courses-filter div h5{
    font-size: 1rem;
    display: inline;
    color: cornflowerblue;
}
#courses-filter-input{
    margin: 0.5rem;
    padding: 0 0.2rem !important;
    font-size: 1rem;
    font-family: 'Laila', sans-serif;
    border: none;
    border-radius: 0.2rem;
}
.courses-filter select{
    margin: 0.5rem;
    font-size: 1rem;
    padding: 0 0.2rem !important;
    border: none;
    border-radius: 0.2rem !important;
    font-family: 'Laila', sans-serif;
    color: rgb(55, 55, 55);
}
.course-link a{
    text-decoration: none;
    color: cornflowerblue;
    text-decoration: underline;
}
.rwd-table{
    width: 90%;
}
.rwd-table tr th, .rwd-table tr td{
    font-family: 'Laila', sans-serif;
    font-size: 0.9rem;
    text-align: left;
}
.rwd-table tr th{
    font-weight: normal;
    font-size: 1rem;
}
@media (max-width: 480px) {
    .course-container{
        margin-top: 4rem;
    }
    .course-container h1{
        font-size: 2rem;
    }
    .course-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .courses-filter div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .courses-filter div h5{
        font-size: 1rem;
        display: block;
        color: #ff8d1e;
    }
    #exampleFormControlSelect1{
        margin: 0.2rem 1rem;
        font-size: 0.8rem;
    }
    #courses-filter-input{
        margin: 0.5rem auto;
        font-size: 0.9rem;
    }
    .courses-filter div input{
        font-size: 0.8rem;
        margin: 0.2rem;
        width: 40%;
    }
    #exampleFormControlSelect11{
        font-size: 0.7rem;
    }
    #exampleFormControlSelect12{
        font-size: 0.7rem;
    }
}