@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
    overflow-x: hidden;
}
.binder{
    width: 90%;
    margin: auto;
}
.divider{
    display: flex;
    margin-top: 2rem;
}
.leftHalf {
    width: 100%;
}
.leftHalf-title{
    display: flex;
}
.leftHalf-title hr{
    height: 0.1rem;
    background-color: gray;
    border-radius: 1rem;
    width: 75%;
    margin: auto;
}
.fromAdmins{
    width: 25%;
    color: cornflowerblue;
    font-size: 1.4rem;
    box-sizing: border-box;
    font-style: italic;
    font-family: 'Laila', sans-serif;
}
.leftHalf-content{
    margin: 1rem 0;
}
.blog{
    margin: 0 0 2rem 0;
}
.blogTitle{
    font-size: 1.3rem;
    color: cornsilk;
    font-family: 'Laila', sans-serif;
}
.blogDetails{
    color: paleturquoise;
    font-size: 1rem;
    margin: 0.5rem 0;
}
.blogContent{
    color: rgba(255, 255, 255, 0.77);
    border-left: 5px solid gray;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-family: 'Laila', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.2px;
}
.blogContent a{
    color: cornflowerblue;
}
.rightHalf{
    margin: 0 1rem;
    width: 30%;
}
.rightBox{
    border: 0.5px solid gray;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin: 1rem 0;
}
.statistics {
    color: #f7f5ec;
}
.recentAdmin {
    color: gray;
}
.contributors {
    color: #f7f5ec;
}
.statistics div{
    color: cornflowerblue;
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
}
.statistics span{
    color: palegreen;
    /* font-weight: bold; */
    margin: 0 0.2rem;
}
.recentAdmin div{
    color: cornflowerblue;
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
}
.recentAdmin ul li a{
    text-decoration: none;
    color: cornsilk;
    text-decoration: underline;
}
.contributors div{
    color: cornflowerblue;
    font-size: 1.1rem;
    margin: 0 0 0.5rem 0;
}
#flicker-lights {
    font-family: Montserrat;
    font-size: 1.8rem;
    color: var(--white);
    letter-spacing: 0.2rem;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    margin: 40px auto;
    align-items: center;
}

#flicker-lights>span {
    opacity: 0.15;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    #fly-in {
        display: none;
    }

    .book-container {
        top: 0;
        left: 5vw;
    }

    #flicker-lights {
        font-size: 1.4rem;
    }

    #slider-container {
        margin-top: 3rem;
    }
    .courses-intro{
        width: 85%;
        font-size: 1rem;
    }
    .home-courses-title{
        font-size: 2rem;
        text-align: center;
    }
    .divider{
        flex-direction: column;
        margin-top: 1rem;
    }
    .rightHalf{
        width: 90%;
    }
    .fromAdmins{
        font-size: 1rem;
        width: auto;
    }
    .leftHalf-title hr{
        width: 55%;
    }
    .blogTitle{
        font-size: 1rem;
    }
    .blogDetails{
        font-size: 0.8rem;
    }
    .blogContent{
        font-size: 0.7rem
    }
}

@media (max-width: 480px) {
    .box{
        margin: 20px;
        width: 200px;
    }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    /* body {
        background-color: yellow;
    } */
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    /* body {
        background-color: blue;
    } */
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* body {
        background-color: green;
    } */
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    /* body {
        background-color: white;
    } */
}