#navBG{
  background-color: #000000d9 !important;
}
.container{
  width: 100%;
  margin: 0.5rem 0.5rem;
}
.brandName{
  padding: 0 0.5rem;
}
.brandName a {
  text-decoration: none;
  color: aliceblue !important;
  font-size: 1.3rem;
  font-family: 'Laila', sans-serif;
}
.navLinks a{
  text-decoration: none;
  font-family: 'Laila', sans-serif;
  color: rgba(255, 255, 255, 0.77) !important;
  margin-left: 1rem;
}
.navLinks a:hover{
  color: aliceblue !important;
}
#navText a, #navText {
  text-decoration: none;
  font-family: 'Laila', sans-serif;
  color: rgba(255, 255, 255, 0.448) !important;
  font-size: 0.8rem;
  font-style: italic;
}
#navText a i{
  margin: 0 0.5rem;
  font-size: 1.6rem;
}
#navText a:hover{
  color: aliceblue !important;
}